.section {
  margin: 0px 0px !important;
  background-color: #fff;
}
.file-details {
	.header {
		font-weight: 500;
	}
	padding: 5px;
}
.file-message {
	padding: 5px 0px;
	color: #377113;
	font-weight: 500;
}
.file-error-message {
	color: #dc3545;
}
.minimum-fee {
	padding-bottom: 10px;
}