body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.95rem !important;
}

body, html {
	height: 100%;
	min-height: 100%;
}

.height-wrapper, #root {
	height: 100%;
}

.container {
  border: 1px solid #ccc;
  position:relative; /* needed for footer positioning*/
    margin:0 auto; /* center, not in IE5 */

    height:auto !important; /* IE6: treaded as min-height*/

    min-height:100%; /* real browsers */
}

:global(.pagination) {
	display: inline-block !important;
}

:global(.btn-primary) {
	background-color: #1e808f !important;
    border-color: #1e808f !important;
}

:global(.btn-danger) {
	background-color: #fff !important;
    border-color: #1e808f !important;
	color: #1e808f !important;
}
:global(.table) {
	max-height: 400px;
    overflow: auto;
    display: block;
}