.log-wrapper svg {
  display:inherit;
}
.log-container {
	display: flex;
}
.log-lables {
	padding: 15px 0px 0 10px;
	span {
		font-weight: bold;
	}
	.pad-bottom {
		padding-bottom: 5px !important;
	}
}
:global(.nav-link.active) {
	border-color: #00c21e #00c21e #fff !important;
	background-color: transparent !important;

}
:global(.nav-link:nth-child(1)) {
	border-color: #00c21e #00c21e #fff !important;
	background-color: #00c21e !important;

}
:global(.nav-link:nth-child(2)) {
	border-color: #d81a36 #d81a36 #fff !important;
	background-color: #d81a36 !important;

}
:global(.nav-link) {
	color: #000 !important;
	font-weight: 500;
	background-color: #d81a36 !important;
	border-color: #d81a36 #d81a36 #fff !important;

	color: #fff !important;
}