body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.container {
  border: 1px solid #ccc;
}

.header {
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
  background-color: #4e73df;
}

.header-txt{
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  padding-top: 10px;
}

.footer {
  background-color: #4e73df;
  height: 50px;
  color: #fff;
  padding-top: 10px;
}

.section {
  background-color: #eeeeee;
  padding: 20px 0;
}

.box {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
}
.button-alignment {
	display: block !important;
	margin-bottom: 5px;
}
.pad-bottom {
	padding-bottom: 10px;
}
.center-one {
	text-align: center;
}
.pad-top {
	padding-top: 15px;
}