.section {
  background-color: #eeeeee;
  padding: 20px 0;
}

.col-rounded {
  > div {
    border-radius: 15px !important;
    min-height: 400px;
    > div:first-child {
      color: #4e73df !important;
      background-color: #f8f9fc !important;
      border-radius: 15px 15px 0 0 !important;
    }
  }
}

.alert {
	min-height: 50px !important;
}
.tooltip {
 position: absolute;
    right: -9px;
    top: 8px;
}
.textform {
 position: relative;
}
.qicon {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAQAAAAngNWGAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfkBgUDLwd3oeUxAAABQUlEQVQoz5WSzUoCURTHf4plkZAE2SIIpqC25bKWoblxE7Tqg6CvF2gRUfkK8wDRA7RMAgNdtGiRC0MKhIohgohkIqhkJJqZFjPeuV0U6p7V+Z0/554v+OMLKX6EfnoAi3e+OwmHyTDLOAO4vHFLkTOe1MxdLFLBxpXM5oplumVZlH0+/XCdPHnqvtfggGgg3MTyAwZpEgwxh+ETi42WTKMmvssxSpESY+QEq6F5wnUcAS84x+WLFCuCOaxBBJiUep8GHI6osiRNZgrCQEyZwAl7rLIgkZiX8VkRmmyxQ69EfEVW9NzeLLKeME5Bwk10dJoSKRAPWjAENkmSxBS+wYxcV4o7sbgyZbHMa9Lqtg+Vymwe0JkIzqo1AA145ZgPEoR44YZL7nF+Z+tjlwZV5gl3Olwv4wiDbHPK43/vvM37AUlDnKed5EyUAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDIwLTA2LTA1VDAzOjQ2OjE1KzAwOjAwdYbwxQAAACV0RVh0ZGF0ZTptb2RpZnkAMjAyMC0wNi0wNVQwMzo0NjoxNSswMDowMATbSHkAAAAASUVORK5CYII=');
  width: 20px;
  height: 20px; 
}
.mandatory {
	color:#d81a36;
	font-weight: 500;
}
.header-container {
	div {
		display: inline-block
	}
	:nth-child(2) {
		margin: 0px !important;
		font-size: 14px;
		float: right;
	}
}
.pricing-tabs :global(.nav-link.active) {
	background-color: #fff !important;
	border-color: #fff #fff #fff !important;
	color: #000 !important;
}
.pricing-tabs :global(.nav-link) {
	color: #000 !important;
	background-color: #002d64 !important;
	border-color: #002d64 #eeeeee #fff !important;
	color: #fff !important;
}