.wrapper {
  background-color: #fff;
  padding: 20px 10px;
}
.section {
  padding: 20px 0;
}
.box {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
}
.button-alignment {
	display: block !important;
	margin-bottom: 5px;
}
.pad-bottom {
	padding-bottom: 10px;
}
.rate {
	background-color: #9ad8f9 !important;
}