body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.container {
  border: 1px solid #ccc;
}

.header {
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
}

.header-txt{
  text-align: right;
  font-size: 30px;
  font-weight: 500;
}

.footer {
  background-color: #231f20;
  height: 50px;
  color: #fff;
  padding-top: 10px;
}

.section {
  background-color: #eeeeee;
  padding: 20px 0;
}

:global(.card-header) {
	background-color: #fff !important;
	font-size: 20px;
	font-weight: 500;
}
:global(.card) {
	border-radius: none;
}
:global(.card-header:first-child) {
	border-radius: 0px !important
}
:global(.list-group-item.active) {
	background-color: #005093 !important;
    border-color: #005093 !important;
	color: #fff !important;
}
:global(.list-group-item) {
	color: #005093 !important;
}
:global(.btn-primary) {
	background-color: #005093 !important;
    border-color: #005093 !important;
}