.headTitle {
	font-size: 1.5rem;
	color: #002d64;
	padding-bottom: 20px;
}
.section {
  margin: 20px 0;
}
.rate {
	background-color: #dfefd4 !important;
}
.relative {
	position: relative;
}
.download {
   position: absolute;
   top: -5px;
   bottom: 0px;
   right: 0px;
}