.container {
	padding: 20px 0px;
}
.card-body {
	padding: 20px 0px !important;
}
.tab-wrapper {
	margin-top: 10px;
}
.headTitle {
	font-size: 1.5rem;
	color: #002d64;
	padding-bottom: 20px;
}

.rate-head, .actual-head {
	text-align: center;
}

.relative {
	position: relative;
	margin-right: 20px;
}
.download {
   position: absolute;
   top: -5px;
   bottom: 0px;
   right: 0px;
}
.dropdown {
	display: inline-block;
	margin-right: 10px;
}
.header-container {
	div {
		display: inline-block
	}
	:nth-child(2) {
		margin: 0px !important;
		font-size: 14px;
		float: right;
	}
}

.report-tabs :global(.nav-link:nth-child(1)) {
	border-color: #00c21e #00c21e #fff !important;
	background-color: #00c21e !important;

}
.report-tabs :global(.nav-link:nth-child(2)) {
	border-color: #d81a36 #d81a36 #fff !important;
	background-color: #d81a36 !important;

}
.report-tabs :global(.nav-link) {
	color: #000 !important;
	font-weight: 500;
	background-color: #d81a36 !important;
	border-color: #d81a36 #d81a36 #fff !important;
	color: #fff !important;
}
