.container {
	margin: 20px 5px;
}
.card-body {
	padding: 20px 0px !important;
}
.tab-wrapper {
	margin-top: 10px;
}
.headTitle {
	font-size: 1.5rem;
	color: #002d64;
	padding-bottom: 20px;
}

th.rate, th.actual {
	color: #000 !important;
	font-weight: bold !important;
}
.rate {
	background-color: #9ad8f9 !important;
}
.actual {
	background-color: #ca4a9b !important;
}
.relative {
	position: relative;
	margin-right: 20px;
}
.download {
   position: absolute;
   top: -5px;
   bottom: 0px;
   right: 0px;
}
.dropdown {
	display: inline-block;
	margin-right: 10px;
}